* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
button {
  border: unset;
  background-color: unset;
  cursor: pointer;
}
ul {
  list-style: none;
}
a {
  text-decoration: unset;
  color: #000;
}
p {
  padding: 16px 0;
}
img {
  width: 100%;
  max-width: 100%;
  display: block;
  height: auto;
  border: 1px solid #ddd;
}
.active {
  text-decoration: line-through;
}
.product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 40%;
  margin: 30px auto;
}
.color_box {
  display: flex;
  gap: 10px;
  margin: 10px 0;
}
.color_box > button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 5px;
}
.colors {
  padding: 20px 0;
  display: inline-block;
}
